UserStories that are not defined at the project outset but rather emerge during the lifecycle of the software development are often referred to as Emergent Requirements. 

As developers we cater for Emergent Requirements through TestDrivenDevelopment and IterativeDevelopment.

The premises here are that you can't know everything up front, that over a project's life-cycle business needs often shift and lastly that there is commercial value in being responsive to market and competitive forces. 

We also imply that planned design usually does no better than unplanned design and we differentiate between 'not planning' and 'making it up as we go along' vs 'Planning to be ready for change' and being adaptive. - DavidCasey

