"''FunctionalRequirements are either met or not met. NonFunctionalRequirements tend to be things that you can measure.''"

functional requirement -- a requirement that specifies a function that a system or system component must perform.  
-- (ANSI./IEEE Std 729-1983, SoftwareEngineeringTerminology) 

----
CategoryRequirements