This page is about testing non-functional requirements. Some of the non-functional requirements are:
	* Scalability
	* Performance
	* Security
	* Availability
	* Reliability

These are aspects of a system that need to be verified somehow, preferably with automated tests, of course. But how?

Other non-functional requirements might be:
	* Maintainability
	* Extendability
	* Reuseability

These are probably not verifiable by automated tests. (JayDepend can run as a JUnit test, failing on e.g. circular package dependencies.)

The topic of testing non-functional requirements came up on InfrastructureInXp. --PeterGassmann
----
WhyTestNonFunctionalRequirements
----
The only existing page related to this topic I found is PerformanceTests. --Peter