''Practical Software Requirements:  A Manual of Content and Style'', by Benjamin L. Kovitz,
ISBN 1884777597

BenKovitz gives us a good overall book on requirements and an excellent discussion of problem framing and solving.  

----
CategoryBook

