Ueli Brawand: Planning is investing in fallacy. Only plan as much as you need.	

Don Marquis:	''"Ours is a world where people don't know what they want and are willing to go through hell to get it."''  (From the "Do It!" book -- http://www.mcwilliams.com/books/doit/d3g.htm  Also on http://www.wfs.org/Q-klm.htm)

	SteveMcConnell:	The most difficult part of requirements gathering is not the act of recording what the user wants, it is the exploratory development activity of helping users figure out what they want.

	De Bono (in SteveMcConnell):	The only time you can really find the best problem definition is after you found the solution.

	(an old friend):	''"Writing software that fully meets its specifications is like walking on water. For each, the former is easy if the later is frozen and near impossible if fluid."''

	George Box:	All models are wrong. Some models are useful.

	Unknown (attribution welcomed):	"No matter how much you want it to be a technical problem, it's a people problem"
** ''This is probably GeraldWeinberg''

	BruceEdiger:	The only intuitive user interface is the nipple. Everything else is learned.
** He has since said he didn't originate this, and his 2001 version is:
*** There is no intuitive interface, not even the nipple. It's all learned.
** Recent research shows that the nipple is not an intuitive interface.

	Kaa's Law::	In a sufficiently large group of people, most are idiots.

	DickCavett:	As long as people will accept crap, it will be financially profitable to dispense it.

	Mike Lindelsee (director of software engineering):	"Lets put a stake in the Quicksand" 

	ScottAdams? , TheDilbertPrinciple? :	"No project can succeed without management support. The best sort of management support is the kind in which management doesn't find out about the project until it's a market success."

	H.D. Thoreau:	Men have become the tools of their tools.

	Sidney Markowitz:	The software isn't finished until the last user is dead.
----
ScottAdams again, paraphrased from an unknown Dilbert strip:

	Marketing Dweeb:	"The requirements are forming in my mind ... changing ... changing ... there!  Naturally I won't be sharing them with you."

	Dilbert:	"That's okay. I budgeted for some goons to beat it out of you."

You can find the referenced Dilbert strip here: http://www.dilbert.com/fast/1994-09-22/
----
"In 26 years of software engineering, I have never come across a problem domain that was stable enough to trust."
-- RobertMartin, in a comp.object post

This one is on the wall in back of my PC as a reminder to ''look again'' when I think the problem domain is nailed down.
-- DaveSmith
----
30 character identifiers should be enough for everybody.
--George Ellison, Oracle, Earth 2001
--brought to you by PeterSchaefer
----
You can fool all the people all of the time if the advertising is right and the budget is big enough. -- Joseph E. Levine 
----
Anonymous
	User error.  Replace User and press any key when ready.
----
'''NOTE:''' All of this is immensely entertaining, but none of it addresses the need to apply professionalism and existing science to the collection and refinement of requirements. For that one must visit the CategoryRequirements pages.

In the mean time, please feel free to continue with your lightweight phun.
----
CategoryQuote, CategoryRant