Plain text in significant quantities that comes as a formal signed specification, before the project starts. That kind of Requirements make the separate step of Analysis necessary.

RawRequirements are unavoidable in some situations, like tenders etc. However InteractiveRequirementsGathering or even PairModeling tend to provide much better result. --
AlexJouravlev

----