For those who would like to see a sample requirements document, with use cases sketched out at several levels, I posted one  as the Oct 11, 98 update at http://members.aol.com/acockburn (can now be found at http://alistair.cockburn.us/index.php/Sample_system_requirements_document ).  I got many of the non-obvious questions from the requirements document template posted by SuzanneRobertson of the AtlanticSystemsGuild.  However, hers had 36 chapters, and while thorough, was too intimidating to fill out on a less-than-critical project.  So I abridged that and put it into a form I would be willing to stand working with.  You will see it is still fairly intimidating for a casual project, but has some interesting questions for any project's starting staff to ponder.  I am thinking of moving the use cases to the end, since they form most of the bulk.  Comments welcome (that's why I posted the document and this note) --AlistairCockburn 
----
To present an alternative to Alistair's Requirements doc (which looks pretty good), this outline is based loosely on the IEEE Standard. 830-1998 IEEE Recommended Practice for Software Requirements Specifications.

'''Software Requirements Specification (SRS)'''
	1 Introduction
		* Purpose of the system 
		* Scope of the system 
		* Definitions, acronyms, and abbreviations 
		* References 
		* Overview 
	2 Overall Description
		* Product perspective 
		* Product functions 
		* User characteristics
		* Constraints 
		* Assumptions and dependencies 
	3 Specific requirements
		* External interface requirements 
			* User interfaces 
			* Hardware interfaces 
			* Software interfaces 
			* Communications interfaces 
		* Functional requirements 
		* Performance requirements 
		* Design constraints 
		* Software system attributes 
		* Other requirements 
	* Appendixes
	* Index

It's pretty basic, and isn't perfectly tailored to XP, but seems to form the basis of most requirements specifications that I've seen. -- DaveBeer

----
See also anecdote about TypesOfProjects
----
CategoryRequirements