Sometimes seen as an individual who sees a requirements specification -- rather than working software -- as the goal of a project. Often, these people insist on overly-formalized requirements-writing methods or practices that neither help communication nor improve the end result (software system) in order to create work for themselves or others.

Of course, for many projects a software system is '''not''' the "real goal." The real goal is the value that the intended software system is intended to bring, the intention that is occasionally expressed in BusinessRequirements and less often delivered by the software system.

Another, less cynical, view is that of an individual who studies the principles of writing clear, complete, unambiguous requirements specifications. Their belief is that good requirements specs are generally needed to create good software, and that bad or incomplete requirements specs generally lead to bad software or no software, so doing it in accordance with well-known BestPractice is important.
----
But how to know the limit one should go with formal specification before leading it to code? I guess it's a forever process of Trying-and-Evaluating. What (and when) works and what doesn't.  Also getting to know best practices  (from people who has practiced) is a shortcut to get the balance point. -- MauroRezende
----
Requirements specifications are largely a waste of time if the needs are poorly thought out or poorly understood, which is the majority of the cases in my experience. Instead, a more interactive give-and-take process would often be more economical. However, division of labor, budgets, and duties often dictates that a "contract" be written in order to clarify obligations.

''Yes, in ''your'' experience. Proper process demands that requirements be collected, formalized, and properly '''inspected''' before they are turned into a set of specifications. Without proper process any work can be a waste of time. Specs aren't unique in this regard. It's just that specs are too often given short shrift and so end up being the crappy set of waste paper that we see far too much.''
----
See: TheAlmightyThud, JobSecurity

CategoryRequirements