In conducting requirements sessions there are various questioning technologies that have helped myself and teams at HP.

'''General Questions''' [1]
	* What do you want?
	* What will having X get you?
	* How will you know you have X?
	* What will getting X enable you to do?

'''Precision questions'''
	* Why are we discussing this now?
	* What do we mean?
	* What are we assuming?
	* How do we know this is true?
	* What caused this?
	* What will be the effects
	* What should be done?

"Precision Questioning", Dennis Matthies, Stanford Bookstore, 800-533-2670, ext. 326

'''SMART requirements'''[2]. For a given requirement is it
	* Specific?
	* Measurable?
	* Attainable?
	* Realizable?
	* Testable?

--MarkInterrante

---------

	* Does it fit within our StrategicPlanning?

--------
CategoryAnalysis