In deciding what to do next, what the first step is, one must consider requirements in order to implement desired features. A feature is more or less encapsulated in a general statement meant to define what a user might expect. A requirement is a more specific and concrete statement to define what a programmer must consider in the coding of and actualization of the desired features.

''This is part of the separation of CriticalSuccessFactor requirements from "feature" requirements. If you know what the product absolutely ''must'' do in order to be successful then you can separate that from the "nice to have" features that won't make or break the product.''
----
CategoryRequirements