The phenomenon by which a new bit of software evokes the unavoidable desire to need more features then was initially intended. It appears that a little illustrative example of what can be done opens a surge of ideas for what is essential to have.

----
Contrast with FeatureCreep