File this under "words are important" (see also AdoptVsAdapt).

Requirement: ''n.'' that which is required; a thing demanded or obligatory.

This is exactly the wrong word for this thing. In my projects, I often deliver a quarter of the original "things demanded or obligatory", and I still get paid. Either I do a terrible job of writing down these things, or they aren't actually "demanded or obligatory". If the latter, we should use a different word to denote them.

I nominate ''wishes'', as in "What are the wishes for the project so far?" "How have the wishes changed in the last week?" This puts us in the (perhaps uncomfortable) position of wish fulfillment, a ProgramFairy. -- KentBeck

I believe the phrase I voted for was WishFairy... but if that makes people too uncomfortable, SomewhatPowerfulGenie works well too... The "wish lists" that I've seen tended to contain low-priority items.  Maybe "goals", "targets"? -- JasonYip

My vote goes to "intention" and its cousins.  Sometimes people feel duty-bound to ask for what they do not wish for.  I understand their predicament.  As long as they intend for us to take them at their word, I'm happy not to pry into their private feelings on the matter!  For a set of intentions (a project scope, for example), I like to talk about "intent"; this connotes the state of being in a dynamic, flexible and insecure temporary structure.
----
See also SuccessStatement, which aims to encompass all the above. Key phrases to remember:

	 :	"Once upon a time"
	 :	"And they all lived happily ever after"

-- RichardDrake
------
See Also: SpecificationsAreNotEconomical
