A hypothetical development phase during which it is established, to some extent, what the purpose of the proposed development is. It is hypothetical because if requirements are gathered uncritically, this is not really a development phase. If requirements are gathered critically, this is RequirementsAnalysis.

''Not so. The gathering of requirements is done prior to requirements being formalized, but it isn't a separate process. Instead, requirements are gathered so that marketing folks can do their own analysis of the requirements '''in relation to each other''' and determine their relative value. In this way the decision makers can add, drop, or mutate requirements until the final, formalized list reflects what it is they really want.''

''Even then, the requirements themselves must indicate what is never going to change and what might change, and how much it might change. Without this you can't even start to build a product.''
----
CategoryRequirements, CategoryAnalysis, CategoryPlanning