You must:
	* Know what is a requirement (this is a difficult task)
	* Know which are your requirements
	* Allocate them to software, hardware, people
	* Know when they change
	* Know the effects of the change
	* Trace requirements
	* Know their status
	* Know how important they are to your customer

Then you manage them.

----
TestTrack RM

----
I am looking for a free RequirementsManagementTool

''WriteItOnaCard.  It ain't free, but it's dirt cheep!''

----
Lighthouse is web-based, free for 5 users, and offers excellent collaboration and traceability features beyond the usual RM capability. Go here to create a free account: http://www.artifactsoftware.com/products/Requirements-Management.html    

----
Contour is made by Jama Software, it's a web-based tool for requirements management and collaboration. URL: http://www.jamasoftware.com.  I just read on ReadWriteWeb that Jama gives money to Kiva instead of doing advertising, which is cool. URL: http://www.readwriteweb.com/archives/ditching_adwords_for_kiva.php

----
DOORS is made by QSS, Inc.  URL - www.qssinc.com

DOORS is currently sold by Telelogic.  Perhaps QSS was bought by Telelogic? URL http://www.telelogic.com

----
RequisitePro is a requirements management tool made by the RationalCompany (which is now owned by IBM).

----
I've been playing with MoinMoin recently, and quickly saw the potential of a wiki as a requirements management tool. The dynamic nature of wiki seems to have great potential as an RM tool, particularly since it can allow all stakeholders to be active participants in the process of gathering and validating requirements. However...

I am by no means an expert in requirements management, but here are some of the issues as I see it (coming from my MoinMoin viewpoint).

Traceability:
* Pro: Links can be placed in pages to link (trace) to their source requirements
* Con: There is no automatic way to get a traceability matrix, showing which links are suspect
** Many wikis' data storage formats are simple enough that it should be very little trouble to make a script to do this.  I don't know about MoinMoin specifically, though.

Content:
* Con: Entry and editing of non-text (e.g., pictures, tables, etc.) requirements is clumsy at best
* Con: Refactoring can be clumsy - multi page views would be nice to facilitate movement of content from one page to another
** Sounds like a browser problem.  Try FireFox -- the tabs should help significantly.  There are also a number of browsers that can split the display between different pages -- maybe FireFox can do this as well.

History (CM):
* Con: Can't tag specific versions of a requirement set as a "release" while changes to the documents continue

I wondered if anyone else has thought about wiki for RM, and not surprisingly, a quick Google search turned up this interesting link:
http://www.codeproject.com/aspnet/OpenCollective.asp

----
Users landing on this page should take a look at http://RequirementsTeam.com. Yes! this is a shameful ad by the developer who is struggling to get exposure.
