BusinessRequirements that deal with how the solution to be implemented should behave, as distinct from FirstOrderRequirements, which deal with what the system as a whole should do.

Requirements relating to window designs are generally SecondOrderRequirements.  Output requirements can be either first or second order, depending on whether the output is a target deliverable from the system (first order) or serves as a new interface to business processes (second order).

----

SecondOrderRequirements frequently include process-oriented controls and checkpoints, such as IntermediateAudit reports, DateControl, Cancel, Rerun, and Restart requirements.  SecondOrderRequirements may also include implementation of the prevailing I.T. gestalt, such as DegreeOfCoupling, TableDrivenDesign, et cetera.

----
CategoryRequirements, CategoryAnalysis 