A well-done and well-received book ([ISBN: 0-7356-0631-5]) by KarlWiegers, author of CreatingaSoftwareEngineeringCulture, about requirements engineering, which breaks down into the broad topics of requirements development and requirements management.  I reviewed the manuscript for this book last year when Karl had it posted on his website (http://www.processimpact.com), but unfortunately seem to have escaped acknowledgement by Karl :-(

--RandyStafford

----
CategoryBook CategoryRequirements
