You're mucking out a CodeSewer by TestInjection. And the reason you're there is they want you to add new functionality to the sewer! They hand you a phone-book-sized functional spec and say, "there you go, boy/girl, just tack that on the side the same as usual". You realize this is how the CodeSewer was generated in the first place ...

'''Therefore,'''

StripeRequirements. Require the requirement originators to enable high quality by either generating FitTest''''''s themselves, or paying analysts to do it. Make 'em understand that YouDontPayForQuality - which is to say, it'll be quicker and cost less to do it this way. If there's OldGuardDeveloper''''''s hanging around objecting, challenge 'em to a CodeRace against the NewGuardDeveloper''''''s for some SpikeSolution. That'll shut 'em up. This is especially good fun when the old guard are DBAs ...

Have the analysts cover the spec with these tests referring to whatever big-ass models they like. Wikify this if they'll cooperate. Ignore the big-ass models completely except as a generator of disambiguating questions and further FitTest''''''s. Now engage the GoalDonor''''''s in the PlanningGame and away you go.

----
Related:
* TheMostPureWay


