Why should non-functional requirements be tested anyway? Related to HowToTestNonFunctionalRequirements.
----
Based on the discussion on InfrastructureInXp, the question came up when to decide to use / buy a product / tool to be used in your project. For example, when should one decide to use a third-party persistency library to store data in a relational database. Now, you would certainly buy a product if you are then faster, maybe cheaper (because you are faster), and if the product meets enough of your requirements. Therefore, you need to verify that the product meets the requirements. So why not writing automated tests (provided you get an evaluation version of the product)? --PeterGassmann